include ../mixins/category-block.pug

h2.subtitle
    span Shop By
    | Categories
section.categories
    +category-block("./assets/imgs/category1.svg",'Vegetables & Fruits') 
    +category-block("./assets/imgs/category1.svg",'Grocery & Staples')  
    +category-block("./assets/imgs/category1.svg",'Vegetables & Fruits') 
    +category-block("./assets/imgs/category1.svg",'Vegetables & Fruits')  
    +category-block("./assets/imgs/category1.svg",'Vegetables & Fruits') 
    +category-block("./assets/imgs/category1.svg",'Vegetables & Fruits') 